.memory-grid {
  display: grid;
  grid-template-columns: repeat(4,200px);
}

.memory-grid-item, .memory-grid-item-selected, .memory-grid-item-completed {
  height: 200px;
  width: 200px;
  border: 2px solid #c7c7c7;
  background: #202020;
}

.memory-grid-item:hover, .memory-grid-item-selected {
  background: #3f2d2d;
}

.hide {
  visibility: hidden
}

.show {
  visibility: visible
}

.memory-grid-item-completed {
  background: #4F4F4F;
}

img {
  max-width: 100%;
  max-height: 100%;
}